
:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --primari-white-color: #ffffff;
}


body {
    background-color: var(--primari-white-color);
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*Шапка сайта*/

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

}

.text-logo {
    color: black;
}

.site-nav .link-site.current {
    color: var(--accent-color);
}



.link-auth:hover,
.link-site:hover {
    color: var(--accent-color);
}

.link-site:focus .link-auth:focus {
    color: var(--accent-color);
}

.link-site {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;

}

.link-auth {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;

}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid #2f640c;
}

.list {
padding: 0px;
margin: 0px;
}


/*Герои*/
.hero {
    background-color: #2F303A;
    text-align: center;
    margin-bottom: 94px;
}

.hero-text {
    margin-top: 0px;
    margin-bottom: 30px;
    color: var(--primari-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    
}

.button-hero {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    border: none;
    min-width: 200px;
    min-height: 50px;
    margin-bottom: 200px;
}

.button-hero:hover,
.button-hero:focus {
    background-color: #188CE8;
}


/*Преимущества*/

.benefits-list {
    margin-top: 0px;
    margin-bottom: 0px;
}



.benefits-title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}

.benefits-text {
    margin-top: 0px;
    margin-bottom: 94px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/*Примеры работ*/
.work {
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.work-list {
    margin-top: 0px;
    margin-bottom: 94px;
}

/*Команда*/
.team {
    background-color: #F5F4FA;
}

.team-list {
    background-color: var(--primari-white-color);
}

.team-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.name-title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.position {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

/*Футер*/
.footer {
    background-color: #2F303A;

}

.link-footer:hover,
.link-footer:focus {
    color: var(--accent-color);
}

.logo-footer {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;

}

.text-logo2 {
    color: #FFFFFF;
}

.address-text {
    color: var(--primari-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.link-footer {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;

}

/*Портфолио фильтр*/
.filter button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    border: none;
    min-height: 38px;
}

.filter .current {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
}

.filter button:hover,
.filter button:focus {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
}

.button-all {
    min-width: 73px;
}

.button-site {
    min-width: 128px;
}

.button-app {
    min-width: 145px;
}

.button-desighn {
    min-width: 103px;
}

.button-marketing {
    min-width: 130px;
}

/*Сайты*/
.name-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
}

.work-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--text-color);
}